<h1>All Links</h1>

<ul id="links">
	<% @link.each do |link| %>
		<li>
			<%= link_to link.title, link_path(link), class: 'link_title' %><br/>
			<%= link.url %><br/>
			<%= link.description %>
		</li>
	<% end %>
</ul>