<h1>All Job Links</h1>

<ul id="links">
	<% @links.each do |links| %>
		<li>
			<h1><%= link_to links.title, links_path(links), class: 'link_title' %></h1><br/>
			<p>Job Link<%= link_to links.url, links.url %></p><br/>
			<p>Description:<%= links.description %></p>
		</li>
	<% end %>
</ul>

<%= link_to "Add New Job Link", links_new_path(@links) %>