
<h1><%= @links.title %></h1>
<div class="well">
<p>
	<b>Job Link URL</b>:<%= link_to @links.url, @links.url %>
</p>

<p>
	<b>Job Description</b>: <%= @links.description %>
</p>
</div>
<div class="well">
	<h3>Comments</h3>
</div>